<a href="https://colab.research.google.com/github/mrkhan0004/Datasets_ML/blob/main/SMS_Text.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## NAIVE Bayes theorem

In [5]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/mrkhan0004/Datasets_ML/refs/heads/main/SMSSpamCollection.csv",sep='\t')

In [7]:
df.shape

(5571, 2)

In [9]:
df.dtypes

ham                                                                                                                object
Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...    object
dtype: object